#nav{
    border-left: 3px black solid;
    background-color: rgb(41, 145, 30);
    height: auto;
    
}
#mid{
    text-align: center;
    border-left: 3px black solid;
    border-right: 3px black solid;
}
#about{
    text-align: center;
    border-right: 3px black solid;
    background-color: rgb(41, 145, 30);
    height: auto;
}

#proba{
    height: 300px;
    width: auto;
    margin: 10px;

}
body{
    background-color: white;
}

#img{ 
    width: 100%;
    height: auto;
    display: block;
}

#inner{
    margin: 20px;
    height: auto;
    width: auto;
}

.container {
    width: auto;
    height: auto;
    background-color: rgb(130, 115, 6) ;
}
 
.res-image{
  object-fit: cover;
  width: 100%;
  height: auto;
  flex: 1 1 300px;

}
.text-content {
    flex: auto;
}

#nev{
    margin: auto;
    text-align: left;
}

#recept{
    margin: 10px;
}
 
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
 
    .responsive-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

#right{
    border: black solid 1px;
}

.action-button {
    height: auto;
    width: 60px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

} 
.action-button:hover {
    background-color: #0056b3;
}

.contain {
    padding: 20px;
}
/* Gomb dizájn */
.filter-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.filter-btn:hover {
    background-color: #45a049;
}
/* Becsúszó szűrőpanel */
.filters {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: right 0.5s ease-in-out;
    overflow-y: auto;
    z-index: 999;
}
.filters.open {
    right: 0;
}
/* Szűrők elrendezése */
.filter-group {
    margin-bottom: 20px;
}
label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}
select, input[type="checkbox"], input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border-radius: 1px;
    border: 1px solid #ddd;
}
/* Mobil optimalizálás */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .filter-btn {
        width: 100%;
    }
}

#nav-item{
    float: right;
}